*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.header {
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    background-image:url(../img/japan-header-01.jpg)
}

.img-slider {
    width: 1107px;
    height: 533.7px;
}
.footer {
    width: 100%;
    padding: 60px 0;
    margin-top: 20px;
}

.asd{

}