 *{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header {
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url('https://source.unsplash.com/1600x900/?sakura');
    color: white;
}

.img-slider {
    width: 1107px;
    height: 533.7px;
}
.navbar {
    background: #ff7eb1;
}
.footer {
    width: 100%;
    background-color: #ff7eb1;
    padding: 60px 0;
    margin-top: 20px;
}
