
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap align-items-center pb-2 mb-3 border-bottom" style="margin-top:10px">
        <h1>
            Welcome to Dashboard

        </h1>
    </div>
</main>
