@model JapaneWebsite.Models.ViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ShareLayout.cshtml";
}
<div style="margin-top:70px">
    <h2>Kết quả tìm kiếm:</h2>
    <div class="card shadow">
        @Html.Partial("_ArticleHocTiengNhat", Model)
    </div>
    <hr />
</div>

    @*<div class="card shadow">
        <div class="card-header" style="height:50px">
            <h4>Văn hóa</h4>
        </div>
        @Html.Partial("_ArticleVanHoaNhat", Model)

        <div class="card-footer text-right" style="">
            @Html.ActionLink("Xem thêm", "Index", "TraditionPosts", null, new { @class = "card-link" })
        </div>
    </div>*@

