@model JapaneWebsite.Models.ViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ShareLayout.cshtml";
}

<<<<<<< HEAD
<div style="margin-top:70px">
    <h2>Kết quả tìm kiếm:</h2>
    <div class="card shadow">
        @Html.Partial("_ArticleHocTiengNhat", Model)
        @Html.Partial("_ArticleVanHoaNhat", Model)
    </div>
    <hr />
</div>

=======

<h2>Index</h2>


<div class="card shadow">
    <div class="card-header" style="height:50px;">
        <h4>Học tiếng Nhật</h4>
    </div>
    @Html.Partial("_ArticleHocTiengNhat", Model)

</div>

<hr />
<div class="card shadow">
    <div class="card-header" style="height:50px">
        <h4>Văn hóa</h4>
    </div>
    @Html.Partial("_ArticleVanHoaNhat", Model)

 </div>
>>>>>>> 25015e5a600c37cb4d06961ee5ff184b30960434
