@model JapaneWebsite.Models.ViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ShareLayout.cshtml";
}

<div style="margin-top:70px">
    <div class="card shadow">
        @Html.Partial("_ArticleTuVung", Model)
    </div>
    <hr />
</div>

