@model JapaneWebsite.Models.ViewModel
@using PagedList;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ShareLayout.cshtml";
}

<div style="margin-top:70px">
    <div class="card shadow">
<<<<<<< HEAD
<<<<<<< HEAD

=======
>>>>>>> 14004035cb1c34c002dd2dfa7c336a09a8385745
        @Html.Partial("_ArticleHocTiengNhat", Model)
        @Html.Partial("_ArticleVanHoaNhat", Model)
=======
            @Html.Partial("_ArticleHocTiengNhat", Model)
            @Html.Partial("_ArticleVanHoaNhat", Model)
>>>>>>> parent of 1400403... Update
    </div>
    <hr />
</div>