@model JapaneWebsite.Models.ViewModel

@{
    if (Model != null)
    {
        foreach (var item in Model.Tests)
        {
            <div class="card-body">
                <img class="rounded float-left col-2" alt="Error" src="https://ih1.redbubble.net/image.233836939.0458/ap,550x550,16x12,1,transparent,t.u1.png" />
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">@item.Detail</p>
                @*<a href="#" class="btn btn-primary">Tiếp tục</a>*@
                @Html.ActionLink("Làm Test", "Test", "DoTest", new { id = @item.IdTest }, new { @class = "btn btn-primary" })
            </div>
            <hr />
        }
    }
}


