@model JapaneWebsite.Models.ViewModel
<div class="card">
    <h4 class="card-header text-center">Chuyên Mục</h4>
    <div class="list-group">
        @{
            if (Model != null)
            {
                foreach (var item in Model.themeOfPosts)
                {
                   
                    <a href="@Url.Action("IndexByTheme","Search",new { id = item.IdThemePost})" class="list-group-item list-group-item-action">@item.Name</a>
                }
            }
        }

    </div>
</div>
