
<footer class="footer bg-dark">
    <div class="container" >
        <p class="text-center">
            <span style="color:white">
                Copyright &copy
                <script>document.write(new Date().getFullYear());</script> All rights reserved | Made by TKT Team Inc.
            </span>
        </p>
    </div> 
</footer>
