
<footer class="footer bg-primary">
    <div class="container" >
        <p class="text-center">
            <span>
                Copyright &copy
                <script>document.write(new Date().getFullYear());</script> All rights reserved | Made by TKT Team Inc.
            </span>
        </p>
    </div> 
</footer>
